/* src/components/AchievementsList.css */
.loading {
	position: relative;
	width: 100%;
	display: flex;
	
	img	{
		margin: auto;
		display: block;
		width: 64px;
		height: 64px;
	}
}

.order-selection {
  margin-bottom: 20px;
  color: #fff;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  padding: 0px 10px;
  flex-wrap: wrap;
  
  input {
	  margin-right:1px;
  }
  
  .break {
	flex-basis: 100%;
	height: 10px;
	display: none;
  }
}

.order-selection label {
  margin-right: 10px;
}

.order-selection select {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#order {
    margin-right: 15px;
}

#search-toggle {
	background-color: #1e1e1e;
	width: 25px;
	border: 0px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 12px;
	cursor: pointer;
}

.infinite-scroll-component .title {
	cursor: pointer;
}

.infinite-scroll-component .title:hover {
	background-color: #404040;
}

.d-none {
	display: none;
}

@media (max-width: 360px) {
	.order-selection .break {
		display: block;
	}
	
	.loading img {
		width: 48px;
		height: 48px;
	}
}
