/* src/components/AchievementItem.css */
.title {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #333;
  color: #fff;
  
	.game-image {
	  width: 100px;
	  height: 100px;
	  margin-right: 10px;
	}
	
	.game-title {
		margin-top: 10px;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		h3 {
			margin: 0px;
		}
	}

	.game-details {
	  flex: 1;
	}

	.stat {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}

	.nums,
	.percentage {
	  display: flex;
	  flex: 1;
	  flex-basis: 50%;
	  align-items: center;
	}

	.achievements {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}

	.icon {
		margin-right: 5px;
	}

	.stat {
		margin-bottom: 5px;
	}

	.percentage {
		justify-content: right;
	}

	.progress-bar {
	  width: 100%;
	  background-color: #333;
	  height: 4px;
	  border-radius: 5px;
	  overflow: hidden;
	}

	.progress {
	  height: 100%;
	  background-color: #008746;
	}
}

.gamerscore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

@media (max-width: 767px) {
	.title {
		.game-title {
			flex-direction: column;
			margin-top: 0px!important;
		}
		
		.game-title h3 {
			align-self: flex-start;
			margin-bottom: 5px!important;
		}
		
		.game-title .time-display {
			align-self: flex-end;
			justify-content: flex-end;
		}
	}
}

@media (max-width: 360px) {
	.title {
		.game-image {
			width: 65px;
			height: 65px;
			margin-right: 10px;
		}

		.game-title {
			flex-direction: column;
			margin-top: 0px!important;
			
			h3 {
				margin-top: 0px;
				font-size: 15px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 220px;
			}
		}
		
		.game-title h3 {
			align-self: flex-start;
			margin-bottom: 5px!important;
		}
		
		.game-title .time-display {
			align-self: flex-end;
			justify-content: flex-end;
		}
	}
}